#blog-section{
	background: #f9fafc;
	padding: 100px 15px;
	.title{
		h1{
			font-size: 4rem;
			text-align: center;
			font-weight: 700;
			margin-bottom: 80px;
			text-align: center;
			text-transform: uppercase;
		}
	}
	.blog-container{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 588px 588px;
		grid-gap: 10px;
		overflow: hidden;
		.post{
			cursor: pointer;
			position: relative;
			overflow: hidden;
			.post-img{
				height: 100%;
				width: 100%;
				background-position: center center !important;
				background-repeat: no-repeat !important;
				background-size: cover !important;
				background-color: #f2f3f5 !important;
			}
			.details{
				background: #fff;
				padding: 35px;
				position: absolute;
				top: 100%;;
				transform: translate3d(0, -200px, 0);
				transition: all .4s ease-in-out;
				h4{
					color: #13171a;
					font-size: 1.1rem;
					font-weight: 700;
					letter-spacing: 2px;
					padding-bottom: 1.8rem;
					text-transform: uppercase;
				}
				p{
					color: #919191;
					font-size: 1rem;
					font-weight: 400;
					letter-spacing: 2px;
					margin-bottom: 1.8rem;
					line-height: 1.5;
				}
			}
			.more{
				position: absolute;
				z-index: 3;
				width: 100%;
				bottom: 0;  
				background: #fff;
				padding: 35px;
				.button{
					color: #ff5253;
					font-size: 1.3rem;
					font-weight: 700;
					letter-spacing: 2px;
					line-height: 1.5;
					display: inline-block;
					border-bottom: 2px solid #ff5253;
					text-transform: uppercase;
					transform: translate3d(0,40px,0);
					transition: all .4s ease-in-out .1s;
					padding-bottom: 10px;
					opacity: 0;
				}
			}
		}
		.post:hover .details{
			transform: translate3d(0, -580px, 0);
		}
		.post:hover .more .button{
			color: #ff5253;
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
	}
}
/* Tablets */
@media only screen and (max-width: 960px){

}
/* Phones */
@media only screen and (max-width: 767px){
	#blog-section{
		.blog-container{
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 588px 588px 588px;
			.post{
				.details{
					padding: 15px;
				}
				.more{
					padding: 30px 15px 40px 40px;
					.button{
						font-size: 1rem;
					    position: relative;
					    left: -11px;
					}
				}
			}
		}
	}
}