footer{
	background: #f9fafc;
	padding: 100px 15px;
	.social-container{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		justify-items: center;
		align-items: center;
		max-width: 400px;
		margin: 0 auto;
		a{
			font-size: 3rem;
			color: #8e8f91;
			display: inline-block;
			text-decoration: none;
			transition: all .3s ease-in-out;
			&:hover{
				color: rgba(255,53,53,.8);
			}
		}
	}
	h5{
		font-size: 1rem;
		color: #000;
		text-transform: uppercase;
		text-align: center;
		padding: 20px 0;
	}
	h6{
		font-size: .8rem;
		color: #000;
		text-transform: capitalize;
		text-align: center;
	}
}
/* Tablets */
@media only screen and (max-width: 960px){

}
/* Phones */
@media only screen and (max-width: 767px){
	
}